
@{
    ViewBag.Title = "Index";
}

    <center>
        <h2>It's a great day to travel!</h2>
    </center>


<div class="row">
    <div class="col-md-4">
        <h2>PLAN NEW TRIP</h2>
        <p>
            Travelblogger webdesign whimsical adventure darn colorful expedition. Adventure webdesign webdesign clean adventure excursion wanderlust wanderlust, webdesign cute Travel travelblogger fun WordPress.
        </p>
        <p>
            <div>
    @Html.ActionLink("Find Hotel", "FindHotel", "Itinerary", "FindHotel", new { @class = "btn btn-default" })
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>VIEW MY ITINERARIES</h2>
        <p>
            Travelblogger webdesign whimsical adventure darn colorful expedition. Adventure webdesign webdesign clean adventure excursion wanderlust wanderlust, webdesign cute Travel travelblogger fun WordPress.
        </p>
        <p>
            <div>
                @Html.ActionLink("Edit My Info", "Edit", null, new { @class = "btn btn-default" })
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>EDIT MY INFO</h2>
        <p>
            Travelblogger webdesign whimsical adventure darn colorful expedition. Adventure webdesign webdesign clean adventure excursion wanderlust wanderlust, webdesign cute Travel travelblogger fun WordPress.
        </p>
        <p>
            <div>
                @Html.ActionLink("Edit Interests", "EditInterests", null, new { @class = "btn btn-default" })
            </div>
        </p>
    </div>
</div>


