
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Edit Interests", "EditInterests", null, new { @class = "btn btn-default"})
</div>
<div>
    @Html.ActionLink("Find Hotel", "FindHotel", "Itinerary", "FindHotel", new { @class = "btn btn-default"})
</div>
<div>
    @Html.ActionLink("Edit My Info", "Edit", null, new { @class = "btn btn-default" })
</div>


