@model TravelSite.Models.Traveler
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Welcome, traveler!</h2>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", "Traveler")
    @Html.ActionLink("Edit Interests", "EditInterests", "Traveler")
</div>



