@{
    ViewBag.Title = "About MJA";
}
<h2>@ViewBag.Title.</h2>
<p>
    MY JOURNEY AWAITS is a caloborative web application designed by three students, Michael Backes, Justin Nelson and Amelia Szymanek, from devCodeCamp.
    This web application is designed to help a user plan a journey while traveling. This includes helping choose a hotel and then providing potential
    locations around the hotel based on the users interests.
</p>
