@{
    ViewBag.Title = "Home Page";
}
<style>
    .carousel-content {
        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <h1 align="right">MY JOURNEY AWAITS</h1>
    <p class="lead" align="right">It's time to plan your next vacation.</p>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/chris-lawton-o0l-M8W_7wA-unsplash.jpg" />"" />
        </div>
        <div class="item">
            <img src="~/Images/emily-webster-CNGG7-LWIk4-unsplash.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/erwan-hesry-Q34YB7yjAxA-unsplash.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/luca-bravo-O453M2Liufs-unsplash.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/nils-nedel-ONpGBpns3cs-unsplash.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/nitish-meena-1LOKfF930E4-unsplash.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/sean-o-KMn4VEeEPR8-unsplash.jpg" />
        </div>

    </div>
</div>